<h3>Api Explorer</h3>

<hr />
<nav>
    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{active: isSelected(endpoint.id)}" ng-click="setSelected(endpoint.id)" ng-repeat="endpoint in endpoints"><a href>{{ endpoint.description }}</a></li>
    </ul>
</nav>
<hr />
<div class="row">
    <div class="col-md-3">
        <form ng-submit="submit()">
          <div class="form-group" ng-repeat="param in getSelectedEndpoint().parameters">
            <label for="{{ param.name }}">{{ param.displayName }}</label>
            <input type="text" class="form-control" id="{{ param.name }}" placeholder="{{ param.default }}">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <hr />
    </div>
    <div class="col-md-9">
        <p>{{ responseText }}</p>
    </div>
</div>