{% extends "global.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="container col-md-6">
    <h2>Leagues</h2>

    {% if not leagues %}
        <p>You have not yet created any leagues.</p>
        <p><a class="btn btn-default" href="{{ url_for('create_league_form') }}" role="button">Create a league now</a></p>
    {% else %}
        <table class="table">
        <tr>
            <th>Name</th>
            <th>Rating Scheme</th>
            <th>Participants</th>
            <th><!-- PH for prettiness --></th>
        </tr>
        {% for league in leagues %}
            <tr>
                <td>{{ league.name }}</td>
                <td>{{ league.rating_scheme }}</td>
                <td>{{ 'PH' }}</td>
                <td><a class="btn btn-default btn-xs" href="{{ url_for('edit_league_form',league_id=league.league_id) }}" role="button">Settings</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}