{% extends "global.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <h2>Leagues</h2>

    {% if not leagues %}
        <p>You have not yet created any leagues.</p>
        <p><a class="btn btn-default" href="{{ url_for('league.create_league_form') }}" role="button">Create a league now</a></p>
    {% else %}
        {% for league in leagues %}
            <div class="col-md-3 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">{{ league.name }}</div>
                <div class="panel-body">
                    <p style="text-overflow:ellipsis;overflow:hidden">{{ league.description }}</p>
                    <p>Rating Scheme: {{ league.rating_scheme }}</p>
                    <a class="btn btn-default btn-xs" href="{{ url_for('league.edit_league_form',league_id=league.league_id) }}" role="button">Settings</a>
                    <a class="btn btn-default btn-xs" href="{{ url_for('participant.create_participant',league_id=league.league_id) }}" role="button">Add Participants</a>
                </div>
            </div>
            </div>
        {% endfor %}
        <div class="col-md-12">
            <a class="btn btn-default" href="{{ url_for('league.create_league_form') }}" role="button">Create League</a>
        </div>
    {% endif %}
{% endblock %}